body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  position: relative;
}

/*navigation-navbar*/
.navbar {
  background-color: transparent;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 3rem 0;
}

.desktop-navbar{
  display: none;
  visibility: hidden;
}

.left-navigation {
  margin-left: 1rem;
}

.middle-navigation {
  flex-grow: 1;
  text-align: center;
}

/*arrow selection*/
.arrow-selection {
  background-color: black;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0.3rem;
  right: 0;
}

.left-selection {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.right-selection {
  padding: 1rem 1.5rem;
  cursor: pointer;
}


.left-selection:hover, .right-selection:hover{
  background-color:gray;
}


/*for slide*/

.slide-image{
  position: relative;
}

.image1-mobile, .image2-mobile, .image3-mobile{
  width: 100%;
}

.image1-desktop, .image2-desktop, .image3-desktop{
  display: none;
  visibility:hidden;
}

.slide-description {
  margin: 1rem 1.5rem;
  line-height: normal;
}

.slide-header {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.slide-description-word{
  line-height: 1.5;
  color: gray;
}

.slide-arrow {
  width: 3rem;
  margin-left: 1rem;
}

.notshowed {
  display: none;
  visibility: hidden;
}


/*second page*/
.second-page-image {
  width: 100%;
}

.second-page-header {
  font-size: 1.3rem;
}

.second-page-description {
  margin: 3rem 1.5rem;
}

/*last image*/
.last-image {
  width: 100%;
}


@media(min-width:1440px){
  /*additional class*/
  .flex-display{
    display:flex;
  }

  .arrow-selection{
    right: -7.7rem;
    bottom: 0;
  }

  /*navigation bar*/
  .navbar{
    display: none;
    visibility: hidden;
  }

  .desktop-navbar{
    display:flex;
    visibility: visible;
    padding: 2.5rem;
    background-color:transparent;
    position:absolute;
    z-index:1;

  }

  .desktop-navbar-left{
    margin-right: 2rem;
  }

  .desktop-link{
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0;
  }

  .desktop-link:hover{
    border-bottom: 2px solid white;
  }


  /*slide configuration*/
  .slide-container {
    display: flex;
  }

  .image1-mobile, .image2-mobile, .image3-mobile{
    display:none;
    visibility:hidden;
  }

  .image1-desktop, .image2-desktop, .image3-desktop{
    display: block;
    visibility:visible;
  }


  .slide-header{
    font-size: 2.5rem;
  }

  .slide-description{
    padding:3rem;
  }

  .arrow-image{
    margin-left: 1rem;
  }


  /*second-page*/
  .second-page{
    display: flex;
    flex-direction: row;
  }

  .second-page1, .second-page3{
    flex-basis: 55%;
    flex-grow: 1;
  }

  .second-page2{
    width: 70%;
  }

  .second-page-header{
    letter-spacing:5px;
    font-size: 1.2rem;
  }

  .second-page-description1{
    color: gray;
    line-height: 1.3;
  }
}
